@import url("toolbar/tabbar.css") not -moz-pref("sidebar.verticalTabs");
@import url("toolbar/navbar.css");
@import url("toolbar/personalbar.css");
@import url("toolbar/urlbar.css");
@import url("toolbar/searchbar.css");
@import url("global/general.css");
@import url("icons/icons.css");
@import url("global/rounded-corners.css") -moz-pref("fp.tweak.rounded-corners");
@import url("animations/tab-animation.css") -moz-pref("fp.tweak.animation.tab-switch"); 