.tab-container.pinned {
	display: flex !important;
	overflow: hidden !important;
	flex-wrap: wrap !important;
	scrollbar-width: none !important;
	padding: 4px !important;
	resize: none !important;
}

#pinned .tab-title {
	display: none !important;
}

#pinned .tab-content {
	justify-content: center !important;
}

.tab-container .tab-items {
	border: none !important;
}

.tab-container.pinned .tab-pinned {
	display: none !important;
}

.tab.pinned {
	min-width: 64px !important;
	width: 100% !important;

	border-radius: 8px !important;
	flex: 1 0 !important;
}

.tab.pinned:nth-child(n + 6) {
	flex: 0 0 68px !important;
}

.tab.pinned .tab-items {
	height: 42px !important;
	border-radius: 6px !important;
	background: rgba(255, 255, 255, 0.1) !important;
	justify-content: center !important;
	align-items: center !important;
	align-content: center !important;
}

.tab.pinned.active .tab-items {
	background: rgba(255, 255, 255, 0.2) !important;
}

.tab-container.pinned .tab-icon {
	width: 16px !important;
	height: 16px !important;
}

.tab-container.pinned .tab-context {
	display: none !important;
}

.tab-container:not(.pinned) .tab-items {
	margin: 6px !important;
}

.tab-container:not(.pinned):hover .tab-items .tab-close {
	opacity: 1 !important;
}

.tab-container:not(.pinned) .tab-items .tab-close {
	opacity: 0 !important;
	transition: all 0.3s;
}

.group:not(.ungroup) .tab-container.tab-group:not(.pinned) .tab:not(:first-of-type) {
	margin-left: 30px !important;
}

.tab-container.tab-group:not(.pinned) .tab:first-of-type .tab-context {
	background-color: transparent !important;
	position: absolute;
	top: 50%;
	left: 12px !important;
	z-index: 6;
	margin-top: -4px !important;
	left: 0;
}

.tab-container:not(.pinned) .tab-title {
	padding-left: 8px !important;
}

.tab-container.tab-group:not(.pinned) .tab:first-of-type .tab-context>.tab-toggle-icon {
	width: 8px !important;
	height: 8px !important;
}

.group:not(.ungroup):is(.tab-group > :not([hidden]), :not(.tab-group) > .tab)>.tab-context {
	flex: 0 0 0 !important;
}

.tab-container.tab-group:not(.pinned) .tab:not(:first-of-type) .tab-context {
	flex: 0 0 1px !important;
	background-color: rgba(255, 255, 255, 0.2) !important;
}

.group:not(.ungroup) .tab-container.tab-group:not(.pinned) .tab:first-of-type .tab-items {
	padding-left: 16px !important;
}

.tab-container:not(.tab-group):not(.pinned)>.tab>.tab-context {
	flex: 0 0 0 !important
}

#sidebar-tabs main {
	scrollbar-width: none !important;
}

.tab.newtab {
	padding: var(--scale-size) !important;
}

.tab.newtab:hover>.newtab-items {
	background-color: var(--background-active-color) !important;
}

.custom-theme {
	--background-color: #1c1b22 !important;
	--background-active-color: #42414d !important;
	--background-hover-color: #373641 !important;
	--background-hover-shadow: #f7f7f74b !important;
}