#sidebar-box {
	position: fixed;
	z-index: 3;
	left: -288px;
	top: 38px;
	opacity: 0;
	bottom: 4px;
	border-radius: 8px;
	width: 288px !important;
	transition: all 600ms cubic-bezier(0.77, 0, 0.18, 1);
	box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

#sidebar-box:hover {
	left: 4px;
	opacity: 1;
}

#sidebar-box::after {
	content: "";
	background-color: transparent;
	width: 16px;
	top: 42px;
	bottom: 0;
	right: -12px;
	position: absolute;
}

#sidebar-box::before {
	content: "";
	background-color: transparent;
	width: 12px;
	top: 0;
	bottom: 0;
	left: -12px;
	position: absolute;
}

#sidebar {
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

#sidebar::after {
	content: "";
	top: 0px;
	bottom: 0;
	right: 0;
	position: absolute;
	left: 0;
	border: 1px solid #2b2a33;
	border-radius: 8px;
	z-index: 0;
	outline: #2b2a33 solid;
	outline-width: 1px;
}

#titlebar {
	height: 0;
}

.titlebar-buttonbox-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 38px;
}

#PanelUI-menu-button {
	padding-inline-end: 134px !important;
}

#firefox-view-button {
	position: absolute;
	top: 0;
	left: 4;
	z-index: 1;
	height: 38px;
}

#nav-bar-customization-target {
	padding-left: 34px !important;
}

#TabsToolbar #TabsToolbar-customization-target> :not(#tabbrowser-tabs) {
	margin: 0 !important;
}

#TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon {
	box-shadow: none !important;
}

/* Disable extension dot bug*/
#unified-extensions-button[attention]>.toolbarbutton-icon {
	background-image: none !important;
}

#sidebar-header {
	display: none !important;
}